body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('Freepik\ by\ lookstudio3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  margin-left: 60px;
  margin-top: 50px;
  font-family: 'Princess Sofia', cursive;
  color: white;
}

p.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38vw;
  height: 50vh;
}

.loader::before {
  content: "";
  display: block;
  width: 200px;
  height: 200px;
  flex: 0 0 200px;
  box-shadow: inset 2px 0 0 white, -2px 0 0 white;
  animation: spin 1s infinite linear;
  border-radius: 100%;
  margin: 0;
  transform-origin: center;
}

input {
  display: block;
  width: 100%;
  border: none;
  font-size: 18px;
  padding: 9px;
}

button {
  border: none;
  color: white;
  font-family: 'Princess Sofia', cursive;
  font-weight: bold;
  font-size: 17px;
  letter-spacing: .5px;
  cursor: pointer;
  background-size: 300% 100%;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-image: linear-gradient(to right, #135850, #135850, #2b7150, #6c9790);
}

button:hover {
  background-position: 100% 0;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

button:focus {
  outline: none;
}

.inputDesign {
  display: flex;
  margin-bottom: 45px;
}

.taskDesign {
  box-shadow: 5px 5px 15px 5px #000000ab;
  border-radius: 10px;
}

p {
  font-size: 20px;
  padding: 5px 0 0 0;
  letter-spacing: .5px;
}

.iconDesign {
  border-radius: 5px;
  background: #135850;
  padding: 3px;
  margin: -10px 5px 3px;
  box-shadow: 2px 2px 8px 2px #000000;
}

.raise:hover,
.raise:focus {
  transform: translateY(-0.25em);
}

/* -------------------------------WAVE----------------------------- */

.box {
	position: fixed;
	top: 94%;
	transform: rotate(50deg);
	left: 0;
}

.wave {
	position: fixed;
	top: 0;
	left: 0;
  opacity: .8;
  position: absolute;
  top: 3%;
  left: 10%;
  background: rgb(11, 61, 39);
  width: 1500px;
  height: 1300px;
  margin-left: -150px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 15000ms infinite linear;
}

.wave.-three {
  animation: drift 10000ms infinite linear;
	position: fixed;
  background-color: #c12636b2;
}

.wave.-two {
  animation: drift 13000ms infinite linear;
  opacity: .4;
  background: black;
	position: fixed;
}

.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}

/* for loader */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ------------------------------------------------------------------- */

@media all and (max-width: 1030px) {
  body {
    margin-top: 20px;
    margin-left: 30px;
  }
}

@media all and (max-width: 950px) {
  body {
    margin-top: 35px;
    margin-left: 21%;
  }
}

@media all and (max-width: 830px) {
  body {
    margin-left: 18%;
  }

  p.loader {
    width: 65vw;
    height: 30vh;
  }
  
}

@media all and (max-width: 770px) {
  body {
    margin-left: 16%;
  }

  h1 {
    font-size: 30px;
  }
}

@media all and (max-width: 700px) {
  body {
    margin-left: 12%;
  }

  h1 {
    font-size: 28px;
  }
}

@media all and (max-width: 600px) {
  h1 {
    font-size: 26px;
  }
}

@media all and (max-width: 550px) {
  body {
    margin-left: 13%;
    margin-top: 15px;
  }

  h1 {
    font-size: 24px;
  }

  input {
    font-size: 15px;
    padding: 5px;
  }

  button {
    font-size: 15px;
  }

  .inputDesign {
    margin-bottom: 30px;
  }
  
  .taskDesign {
    box-shadow: 5px 5px 15px 5px #000000ab;
    border-radius: 10px;
  }
  
  p {
    font-size: 15px;
  }
  
  .iconDesign {
    border-radius: 4px;
    padding: 2px;
    margin: -10px 5px 3px;
    box-shadow: 2px 2px 8px 2px #000000;
  }
}

@media all and (max-width: 500px) {
  h1 {
    font-size: 21px;
  }
}

@media all and (max-width: 440px) {
  body {
    margin-top: 6px;
  }

  p.loader {
    width: 75vw;
    height: 30vh;
  }

  .loader::before {
    width: 100px;
    height: 100px;
    flex: 0 0 100px;
  }

  h1 {
    font-size: 19px;
  }

  input {
    font-size: 13px;
    padding: 4px;
  }

  button {
    font-size: 13px;
  }

  .inputDesign {
    margin-bottom: 25px;
  }
  
  p {
    font-size: 13px;
  }
  
  .iconDesign {
    border-radius: 3px;
    padding: 1px;
    margin: -10px 5px 3px;
    box-shadow: 1px 1px 6px 1px #000000;
  }
}

@media all and (max-width: 380px) {
  body {
    margin-left: 12%;
  }

  h1 {
    font-size: 16px;
  }
}

@media all and (max-width: 320px) {
  h1 {
    font-size: 14px;
  }
}

@media all and (max-width: 280px) {
  h1 {
    font-size: 13px;
  }

  button {
    font-size: 12px;
  }

  .inputDesign {
    margin-bottom: 20px;
  }
}
